@charset "utf-8";

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,lengend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea,th {
	font-size: 12px;
	line-height: 1.5;
	font-family: Tahoma,\5FAE\8F6F\06C5\0ED1,"hiragino sans gb",Helvetica,Arial
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

li {
	list-style: none
}

img {
	border: none;
	-ms-interpolation-mode: bicubic
}

input[type=button],input[type=submit] {
	cursor: pointer
}

button {
	cursor: pointer
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

.frame_top,.mod_footer,.wrap {
	min-width: 1000px
}

.mod_footer,.mod_footer a {
	color: #bfb0b6
}

.wrap {
	position: relative;
	width: 100%;
	overflow: hidden
}

.mod_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}

.main {
	position: relative;
	z-index: 2;
	width: 1000px;
	height: 6966px;
	margin: 0 auto;
	font-size: 16px
}

.mod_footer {
	height: 76px;
	padding: 14px 0;
	font-size: 12px;
	font-family: Tahoma,Arial;
	width: 100%;
	margin: 0 auto;
	clear: both
}

.mod_footer {
	height: 76px;
	padding: 14px 0;
	font-size: 12px;
	font-family: Tahoma,Arial;
	width: 100%;
	margin: 0 auto;
	clear: both
}

.mod_footer p {
	height: 22px;
	line-height: 22px;
	text-align: center
}

.mod_footer a {
	font-size: 12px;
	text-decoration: none;
	outline: 0
}

.mod_footer a:hover {
	text-decoration: underline
}

.mod_footer a:active {
	outline: 0
}

.mod_footer .footermenu {
	vertical-align: 14px
}

.mod_footer .footermenu a {
	margin: 0 2px
}

.mod_footer .copyrightzh a {
	margin: 0 0 0 6px
}

.menu {
	height: 80px;
	background: #272727;
	overflow: hidden
}

.menu__content {
	position: relative;
	margin: 20px auto;
	width: 1000px;
	height: 40px
}

.menu__title {
	float: left;
	margin-top: -5px
}

.menu__link {
	display: block
}

.menu__logo {
	width: 243px;
	height: 46px
}

.menu .btn_home,.menu .btn_share {
	display: block;
	float: right;
	margin-left: 27px;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	text-decoration: none
}

.menu .btn_share {
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #31c27c;
	border-radius: 20px;
	text-align: center
}

body {
	background: #fff;
	color: #000
}

.bg1 {
	height: 978px;
	background: #28968c;
	*background: url(../img/2015_pc/bg_01_ie.jpg?max_age=2592000&v=a2783ddc13f6974417d5ea743217ade9) no-repeat 50% 0
}

.bg1__pic {
	height: 978px;
	background: url(../img/2015_pc/bg_01.jpg?max_age=2592000&v=a61173fcd7f9e90cf358ecee09cf9aae) no-repeat 50% 0
}

.bg2 {
	height: 1066px;
	background-color: #fff;
	*background: #fff url(../img/2015_pc/bg_02_ie.jpg?max_age=2592000&v=385face171138f1c2e9b0588a6442d54) no-repeat 50% 130px
}

.bg3 {
	height: 1062px;
	background-color: #031a21
}

.bg3__pic1 {
	height: 366px;
	background: url(../img/2015_pc/bg_03_01.jpg?max_age=2592000&v=1c210736c4beff798aa1fb65a0b1c5a3) no-repeat 50% 0;
	background: url(../img/2015_pc/bg_03_01_ie.jpg?max_age=2592000&v=a81a118373791ac2b551b7ec11ac4adf) no-repeat 50% 0\0
}

.bg3__pic2 {
	height: 328px;
	background: url(../img/2015_pc/bg_03_02.jpg?max_age=2592000&v=bb9815026fbdad25a2adacbf1e3d3e3b) no-repeat 50% 0;
	background: url(../img/2015_pc/bg_03_02_ie.jpg?max_age=2592000&v=9da7d5b88649da9246a200158f58ca9b) no-repeat 50% 0\0
}

.bg3__pic3 {
	height: 368px;
	background: url(../img/2015_pc/bg_03_03.jpg?max_age=2592000&v=b7fe1d10375518d67c8a8b0383a89696) no-repeat 50% 0;
	background: url(../img/2015_pc/bg_03_03_ie.jpg?max_age=2592000&v=153a79c90bfc3dd1bc997bd8a5c91df9) no-repeat 50% 0\0
}

.bg4 {
	height: 1060px;
	background: #17142b
}

.bg4__pic {
	height: 1060px;
	background: url(../img/2015_pc/bg_04.jpg?max_age=2592000&v=bd2a326dab9ed226f2807f467e721152) no-repeat 50% 0;
	*background-image: url(../img/2015_pc/bg_04_ie.jpg?max_age=2592000&v=6049bfa762eb0cadb1c897242a948925)
}

.bg5 {
	height: 1070px;
	background-color: #fff;
	*background: url(../img/2015_pc/bg_05_ie.jpg?max_age=2592000&v=87483d2f163d2c7a16b634e9a34bc6f1) no-repeat 50% 120px
}

.bg6 {
	height: 1060px;
	background: #142c4d
}

.bg6__pic {
	height: 1060px;
	background: url(../img/2015_pc/bg_07.jpg?max_age=2592000&v=c24cb89847f25d3a8824ebb24b34e836) no-repeat 50% 0;
	*background-image: url(../img/2015_pc/bg_07_ie.jpg?max_age=2592000&v=dc45e0df6ceb46aa1db2d9f980202342)
}

.bg7 {
	height: 656px;
	background: #f2f2f2;
	*background: #f2f2f2 url(../img/2015_pc/bg_06_ie.jpg?max_age=2592000&v=7934ce3ba2c5c71bac1297d2cb0f6abe) no-repeat 50% 210px
}

.bg4__pic,.bg6__pic,.play.bg1__pic,.play.bg3__inner {
	-webkit-animation: fadeIn 3s forwards;
	animation: fadeIn 3s forwards
}

.hide {
	opacity: 0;
	filter: alpha(opacity=0);
	zoom: 1;
	display: block
}

.el {
	-webkit-transform: scale(0);
	transform: scale(0)
}

.part {
	position: relative
}

.part1 {
	height: 978px;
	width: 100%
}

.part1__title {
	position: absolute;
	top: 344px;
	left: 50%;
	margin-left: -454px;
	width: 909px;
	height: 83px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: 0 0;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part1__subtitle {
	position: absolute;
	top: 470px;
	left: 50%;
	margin-left: -265px;
	width: 529px;
	height: 50px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1321px -85px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_down {
	position: relative;
	top: 560px;
	display: block;
	margin: 0 auto;
	width: 361px;
	height: 76px;
	cursor: pointer
}

.btn_down__box {
	position: relative;
	margin: 0 auto;
	width: 74px;
	width: 360px\0;
	*width: 360px;
	height: 74px;
	border: 1px solid #fff;
	border-radius: 99px
}

.btn_down__txt {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px -71px;
	width: 140px;
	height: 33px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -605px -251px;
	z-index: 3
}

.btn_down__hover {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 362px;
	height: 76px;
	background: #39bc7c;
	opacity: 0;
	-webkit-transition: 1s ease opacity;
	border-radius: 99px;
	border: 1px solid #39bc7c;
	z-index: 2;
	filter: alpha(opacity=0)
}

.btn_down .hide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	*filter: alpha(opacity=100);
	font-size: 36px;
	line-height: 78px;
	text-align: center;
	color: #fff;
	z-index: 3
}

.btn_down:hover .btn_down__hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.icon_arrow {
	position: absolute;
	bottom: 32px;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 20px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1808px -153px
}

.part1__cricle1 {
	position: absolute;
	top: 102px;
	left: 50%;
	margin-left: -52px;
	width: 105px;
	height: 105px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -498px -251px;
	-webkit-animation: fadeIn 1s linear alternate infinite;
	animation: fadeIn 1s linear alternate infinite
}

.part1__cricle2 {
	position: absolute;
	top: 532px;
	left: 50%;
	margin-left: -654px;
	width: 151px;
	height: 151px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -206px -225px;
	-webkit-animation: fadeIn 1.5s .5s linear alternate infinite;
	animation: fadeIn 1.5s .5s linear alternate infinite
}

.part1__cricle3 {
	position: absolute;
	top: 652px;
	left: 50%;
	margin-left: 473px;
	width: 137px;
	height: 137px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -359px -225px;
	-webkit-animation: fadeIn 2s 1s linear alternate infinite;
	animation: fadeIn 2s 1s linear alternate infinite
}

.part1__cricle4 {
	position: absolute;
	top: 202px;
	left: 50%;
	margin-left: 382px;
	width: 105px;
	height: 105px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -498px -251px;
	-webkit-animation: fadeIn .8s .8s linear alternate infinite;
	animation: fadeIn .8s .8s linear alternate infinite;
	-webkit-transform: scale(.6);
	transform: scale(.6)
}

.part1__cricle5 {
	position: absolute;
	top: 802px;
	left: 50%;
	margin-left: -202px;
	width: 105px;
	height: 105px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -498px -251px;
	-webkit-animation: fadeIn 1s .5s linear alternate infinite;
	animation: fadeIn 1s .5s linear alternate infinite
}

.play.btn_down__box {
	-webkit-animation: btn 1s linear .2s forwards;
	animation: btn 1s linear 0s forwards
}

.play.btn_down__txt {
	-webkit-animation: fadeIn 1s linear 1.2s forwards;
	animation: fadeIn 1s linear 1.2s forwards
}

.play.icon_arrow {
	-webkit-animation: slideDown 1.5s infinite 1s;
	animation: slideDown 1.5s infinite 1s
}

@-webkit-keyframes btn {
	0% {
		opacity: 0;
		width: 74px;
		-webkit-transform: scale(1)
	}

	50% {
		opacity: .5;
		width: 74px
	}

	100% {
		opacity: 1;
		width: 360px;
		-webkit-transform: scale(1)
	}
}

@keyframes btn {
	0% {
		opacity: 0;
		width: 74px;
		transform: scale(1)
	}

	50% {
		opacity: .5;
		width: 74px
	}

	100% {
		opacity: 1;
		width: 360px;
		transform: scale(1)
	}
}

.part2 {
	height: 1066px
}

.part2__title {
	position: absolute;
	top: 136px;
	left: 50%;
	margin-left: -257px;
	width: 514px;
	height: 70px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -206px -153px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part2__desc {
	position: absolute;
	top: 234px;
	left: 50%;
	margin-left: -301px;
	width: 602px;
	height: 24px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1083px -179px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part2__pic1 {
	position: absolute;
	top: 356px;
	left: 50%;
	margin-left: 138px;
	width: 284px;
	height: 284px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: 0 -441px
}

.part2__pic2 {
	position: absolute;
	top: 666px;
	left: 50%;
	margin-left: 39px;
	width: 240px;
	height: 241px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -286px -441px
}

.part2__pic3 {
	position: absolute;
	top: 536px;
	left: 50%;
	margin-left: -768px;
	width: 210px;
	height: 211px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -528px -441px
}

.part2__pic4 {
	position: absolute;
	top: 590px;
	left: 50%;
	margin-left: 403px;
	width: 201px;
	height: 200px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -774px 0
}

.part2__pic5 {
	position: absolute;
	top: 490px;
	left: 50%;
	margin-left: -87px;
	width: 182px;
	height: 182px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -774px -202px
}

.part2__pic6 {
	position: absolute;
	top: 634px;
	left: 50%;
	margin-left: -289px;
	width: 178px;
	height: 177px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -774px -386px
}

.part2__pic7 {
	position: absolute;
	top: 513px;
	left: 50%;
	margin-left: -489px;
	width: 160px;
	height: 160px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -774px -565px
}

.part2__pic8 {
	position: absolute;
	top: 472px;
	left: 50%;
	margin-left: 619px;
	width: 146px;
	height: 146px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -151px -727px
}

.part2__pic9 {
	position: absolute;
	top: 417px;
	left: 50%;
	margin-left: -272px;
	width: 149px;
	height: 149px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: 0 -727px
}

.part2__pic10 {
	position: absolute;
	top: 765px;
	left: 50%;
	margin-left: -510px;
	width: 135px;
	height: 135px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -299px -727px
}

.part2__pic11 {
	position: absolute;
	top: 345px;
	left: 50%;
	margin-left: -550px;
	width: 124px;
	height: 124px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -563px -727px
}

.part2__pic12 {
	position: absolute;
	top: 348px;
	left: 50%;
	margin-left: 487px;
	width: 125px;
	height: 125px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -436px -727px
}

.play.part2__pic1,.play.part2__pic2 {
	-webkit-animation: zoomIn 1s linear forwards .2s;
	animation: zoomIn 1s linear forwards .2s
}

.play.part2__pic3,.play.part2__pic4 {
	-webkit-animation: zoomIn 1s linear forwards .6s;
	animation: zoomIn 1s linear forwards .6s
}

.play.part2__pic5,.play.part2__pic6 {
	-webkit-animation: zoomIn 1s linear forwards .9s;
	animation: zoomIn 1s linear forwards .9s
}

.play.part2__pic7,.play.part2__pic8 {
	-webkit-animation: zoomIn 1s linear forwards 1.1s;
	animation: zoomIn 1s linear forwards 1.1s
}

.play.part2__pic10,.play.part2__pic11,.play.part2__pic12,.play.part2__pic9 {
	-webkit-animation: zoomIn 1s linear forwards 1.4s;
	animation: zoomIn 1s linear forwards 1.4s
}

.part3 {
	height: 1062px
}

.part3__title {
	position: absolute;
	top: 135px;
	left: 50%;
	margin-left: -484px;
	width: 968px;
	height: 69px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -911px 0;
	display: none\0;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part3__desc {
	position: absolute;
	top: 238px;
	left: 50%;
	margin-left: -222px;
	width: 445px;
	height: 24px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1075px -225px;
	display: none\0;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_upgrade {
	position: absolute;
	top: 296px;
	left: 50%;
	margin-left: -156px;
	width: 312px;
	height: 70px;
	border: 1px solid #fff;
	border-radius: 99px;
	cursor: pointer;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_upgrade__hover {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 314px;
	height: 72px;
	_height: 74px;
	z-index: 2;
	background: #39bc7c;
	border-radius: 99px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 1s ease opacity;
	overflow: hidden
}

.btn_upgrade__txt {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px -71px;
	width: 140px;
	height: 33px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -890px -251px;
	z-index: 3
}

.btn_upgrade .hide {
	position: relative;
	display: block;
	*filter: alpha(opacity=100);
	font-size: 36px;
	line-height: 72px;
	text-align: center;
	color: #fff;
	z-index: 3
}

.btn_upgrade:hover .btn_upgrade__hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.rocket {
	position: absolute;
	top: 468px;
	left: 50%;
	margin-left: -220px;
	width: 440px;
	height: 440px;
	display: none\0
}

.rocket__item1 {
	position: absolute;
	top: 90px;
	left: 110px;
	width: 204px;
	height: 236px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: 0 -153px;
	z-index: 2
}

.rocket__item2 {
	position: absolute;
	top: 258px;
	left: 95px;
	width: 109px;
	height: 145px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -352px -391px;
	-webkit-animation: hvr-pulse-grow 1s linear infinite alternate .5s;
	animation: hvr-pulse-grow 1s linear infinite alternate .5s
}

.rocket::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 440px;
	height: 440px;
	border: 1px solid rgba(225,225,225,.7);
	border-radius: 999px;
	-webkit-animation: zoomInFade 3s infinite .5s;
	animation: zoomInFade 3s infinite .5s;
	-webkit-transform: scale(0);
	transform: scale(0)
}

.rocket::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 440px;
	height: 440px;
	border: 1px solid rgba(225,225,225,.7);
	border-radius: 999px;
	-webkit-animation: zoomInFade 3s infinite 1.3s;
	animation: zoomInFade 3s infinite 1.3s;
	-webkit-transform: scale(0);
	transform: scale(0)
}

.play.rocket {
	-webkit-animation: fadeIn 1s forwards 0s,hvr-pulse-grow 1s linear infinite alternate 1s;
	animation: fadeIn 1s forwards 0s,hvr-pulse-grow 1s linear infinite alternate 1s
}

.play.star {
	position: absolute;
	-webkit-animation: star 4.5s both infinite linear;
	animation: star 4.5s both infinite linear;
	width: 171px;
	height: 168px;
	background: url(../img/2015_pc/star.png?max_age=2592000&v=6e8cc988a84ffc22366986cd512bcb1e) 0 0 no-repeat;
	display: none\0
}

.play.star1 {
	top: 400px;
	left: 50px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

.play.star2 {
	top: 500px;
	right: 100px;
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}

.play.star3 {
	top: 160px;
	left: 50%;
	margin-left: 200px
}

.part4 {
	height: 1060px
}

.part4__title {
	position: absolute;
	top: 216px;
	left: 50%;
	margin-left: -412px;
	width: 824px;
	height: 66px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: 0 -85px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part4__desc {
	position: absolute;
	top: 318px;
	left: 50%;
	margin-left: -361px;
	width: 723px;
	height: 24px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1083px -153px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_more {
	position: absolute;
	top: 436px;
	left: 50%;
	margin-left: -100px;
	width: 201px;
	height: 51px;
	border: 1px solid #fff;
	border-radius: 99px;
	cursor: pointer;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_more .hide {
	position: relative;
	display: block;
	*filter: alpha(opacity=100);
	font-size: 15px;
	line-height: 51px;
	text-align: center;
	color: #fff;
	z-index: 3
}

.btn_more__hover {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 203px;
	height: 53px;
	z-index: 2;
	background: #39bc7c;
	border-radius: 99px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 1s ease all
}

.btn_more__txt {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px -46px;
	width: 92px;
	height: 22px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -1687px -179px;
	z-index: 3
}

.btn_more:hover .btn_more__hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.part4__pic1 {
	position: absolute;
	top: 626px;
	left: 50%;
	margin-left: -410px;
	width: 100px;
	height: 172px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -250px -391px
}

.part4__pic2 {
	position: absolute;
	top: 626px;
	left: 50%;
	margin-left: -155px;
	width: 84px;
	height: 172px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -87px -582px
}

.part4__pic3 {
	position: absolute;
	top: 626px;
	left: 50%;
	margin-left: 80px;
	width: 85px;
	height: 172px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: 0 -582px
}

.part4__pic4 {
	position: absolute;
	top: 626px;
	left: 50%;
	margin-left: 294px;
	width: 121px;
	height: 172px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -127px -391px
}

.play.part4__pic1 {
	-webkit-animation: fadeIn .8s linear both .3s;
	animation: fadeIn .8s linear both .3s
}

.play.part4__pic2 {
	-webkit-animation: fadeIn .8s linear both .8s;
	animation: fadeIn .8s linear both .8s
}

.play.part4__pic3 {
	-webkit-animation: fadeIn .8s linear both 1.3s;
	animation: fadeIn .8s linear both 1.3s
}

.play.part4__pic4 {
	-webkit-animation: fadeIn .8s linear both 1.8s;
	animation: fadeIn .8s linear both 1.8s
}

.part5 {
	height: 1070px
}

.part5__title {
	position: absolute;
	top: 132px;
	left: 50%;
	margin-left: -179px;
	width: 359px;
	height: 68px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -722px -153px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part5__desc {
	position: absolute;
	top: 236px;
	left: 50%;
	margin-left: -287px;
	width: 575px;
	height: 24px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -498px -225px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part5__cricle1 {
	position: absolute;
	top: 209px;
	left: 50%;
	margin-left: 344px;
	width: 72px;
	height: 72px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -441px -333px
}

.part5__cricle2 {
	position: absolute;
	top: 266px;
	left: 50%;
	margin-left: -681px;
	width: 331px;
	height: 331px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: -441px 0
}

.part5__cricle3 {
	position: absolute;
	top: 537px;
	left: 50%;
	margin-left: 293px;
	width: 439px;
	height: 439px;
	background-image: url(../img/2015_pc/img_2015_pc2.png?max_age=2592000&v=8827560d0e9c030a4635ff4c4d66dbcc);
	background-position: 0 0
}

.part5__pic1 {
	position: absolute;
	top: 390px;
	left: 50%;
	margin-left: -585px;
	width: 689px;
	height: 471px;
	background-image: url(../img/2015_pc/part5_pic1.jpg?max_age=2592000&v=c3089d955adf230a24e28b02bf23423b)
}

.part5__pic2 {
	position: absolute;
	top: 390px;
	left: 50%;
	margin-left: -68px;
	width: 689px;
	height: 471px;
	background-image: url(../img/2015_pc/part5_pic2.jpg?max_age=2592000&v=a41f79aaeaf5be197db70903778b1613)
}

.part5__pic3 {
	position: absolute;
	top: 354px;
	left: 50%;
	margin-left: -389px;
	width: 807px;
	height: 553px;
	background-image: url(../img/2015_pc/part5_pic3.jpg?max_age=2592000&v=da01d16434b1563013cc1763a1195942)
}

.play.part5__cricle1 {
	-webkit-animation: zoomIn 1s linear both 0s;
	animation: zoomIn 1s linear both 0s
}

.play.part5__cricle2 {
	-webkit-animation: zoomIn 1.2s linear both .2s;
	animation: zoomIn 1.2s linear both .2s
}

.play.part5__cricle3 {
	-webkit-animation: zoomIn 1.4s linear both .4s;
	animation: zoomIn 1.4s linear both .4s
}

.play.part5__pic1 {
	-webkit-animation: slideUp 1s linear both 1.3s;
	animation: slideUp 1s linear both 1.3s
}

.play.part5__pic2 {
	-webkit-animation: slideUp 1s linear both 2.1s;
	animation: slideUp 1s linear both 2.1s
}

.play.part5__pic3 {
	-webkit-animation: slideUp 1s linear both 2.9s;
	animation: slideUp 1s linear both 2.9s
}

.part6 {
	height: 1060px
}

.part6__title {
	position: absolute;
	top: 226px;
	left: 50%;
	margin-left: -397px;
	width: 794px;
	height: 72px;
	background: url(../img/2015_pc/5_1.png?max_age=2592000&v=dcdf0cbf749947898c0b2bd108db94bb) no-repeat -66px 0;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part6__desc {
	position: absolute;
	top: 344px;
	left: 50%;
	margin-left: -390px;
	width: 780px;
	height: 24px;
	background: url(../img/2015_pc/5_1.png?max_age=2592000&v=dcdf0cbf749947898c0b2bd108db94bb) no-repeat -75px -120px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part6__pic1 {
	position: absolute;
	top: 516px;
	left: 50%;
	margin-left: -458px;
	width: 292px;
	height: 222px;
	background: url(../img/2015_pc/5_1.png?max_age=2592000&v=dcdf0cbf749947898c0b2bd108db94bb) no-repeat 0 -292px
}

.part6__pic2 {
	position: absolute;
	top: 516px;
	left: 50%;
	margin-left: -102px;
	width: 292px;
	height: 222px;
	background: url(../img/2015_pc/5_1.png?max_age=2592000&v=dcdf0cbf749947898c0b2bd108db94bb) no-repeat -352px -292px
}

.part6__pic3 {
	position: absolute;
	top: 516px;
	left: 50%;
	margin-left: 253px;
	width: 292px;
	height: 222px;
	background: url(../img/2015_pc/5_1.png?max_age=2592000&v=dcdf0cbf749947898c0b2bd108db94bb) no-repeat -708px -292px
}

.play.part6__pic1 {
	-webkit-animation: fadeIn .8s linear both .3s;
	animation: fadeIn .8s linear both .3s
}

.play.part6__pic2 {
	-webkit-animation: fadeIn .8s linear both .8s;
	animation: fadeIn .8s linear both .8s
}

.play.part6__pic3 {
	-webkit-animation: fadeIn .8s linear both 1.3s;
	animation: fadeIn .8s linear both 1.3s
}

.part7 {
	height: 656px
}

.part7__title {
	position: absolute;
	top: 214px;
	left: 50%;
	margin-left: -246px;
	width: 493px;
	height: 56px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -826px -85px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.part7__desc {
	position: absolute;
	top: 304px;
	left: 50%;
	margin-left: -22px;
	width: 45px;
	height: 4px;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -911px -71px;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn_down2 {
	position: absolute;
	top: 348px;
	left: 50%;
	margin-left: -182px;
	width: 364px;
	height: 75px;
	background-color: #31c37c;
	border-radius: 99px;
	cursor: pointer
}

.btn_down2__hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	z-index: 2;
	background: #2caf6f;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 1s ease opacity;
	border-radius: 99px
}

.btn_down2__txt {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px -70px;
	width: 140px;
	height: 33px;
	z-index: 2;
	background-image: url(../img/2015_pc/img_2015_pc.png?max_age=2592000&v=2510cb629dd1f894820a899dac1f3540);
	background-position: -748px -251px
}

.btn_down2 .hide {
	position: relative;
	display: block;
	*filter: alpha(opacity=100);
	font-size: 36px;
	line-height: 75px;
	text-align: center;
	color: #fff;
	z-index: 3
}

.btn_down2:hover .btn_down2__hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.play.btn_down2 {
	-webkit-animation: slideUp 1s linear both .3s;
	animation: slideUp 1s linear both .3s
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		-webkit-transform: scale(1)
	}

	to {
		opacity: 1;
		-webkit-transform: scale(1)
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(1)
	}

	to {
		opacity: 1;
		transform: scale(1)
	}
}

@-webkit-keyframes slideUp {
	0% {
		opacity: 0;
		-webkit-transform: scale(1) translate3d(0,-50px,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1) translate3d(0,0,0)
	}
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: scale(1) translate3d(0,-50px,0)
	}

	100% {
		opacity: 1;
		transform: scale(1) translate3d(0,0,0)
	}
}

@-webkit-keyframes slideDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-8px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,8px,0)
	}
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translate3d(0,-8px,0)
	}

	60% {
		opacity: 1;
		transform: translate3d(0,0,0)
	}

	100% {
		opacity: 0;
		transform: translate3d(0,8px,0)
	}
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale(.3)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1)
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(.3)
	}

	100% {
		opacity: 1;
		transform: scale(1)
	}
}

@-webkit-keyframes hvr-pulse-grow {
	0% {
		-webkit-transform: scale(1)
	}

	100% {
		-webkit-transform: scale(1.1)
	}
}

@keyframes hvr-pulse-grow {
	0% {
		transform: scale(1)
	}

	100% {
		transform: scale(1.1)
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,-100%,0)
	}

	to {
		opacity: 1;
		-webkit-transform: none
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0,-100%,0)
	}

	to {
		opacity: 1;
		transform: none
	}
}

@-webkit-keyframes zoomInFade {
	from {
		opacity: 0;
		-webkit-transform: scale(.3)
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1.2)
	}
}

@keyframes zoomInFade {
	from {
		opacity: 0;
		transform: scale(.3)
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0;
		transform: scale(1.2)
	}
}

@-webkit-keyframes star {
	0% {
		opacity: 0;
		-webkit-transform: translate(171px,-168px)
	}

	12% {
		opacity: 1;
		-webkit-transform: translate(85px,-84px)
	}

	24% {
		opacity: 0;
		-webkit-transform: translate(0,0)
	}

	50% {
		opacity: 0;
		-webkit-transform: translate(371px,-88px)
	}

	62% {
		opacity: 1;
		-webkit-transform: translate(285px,-4px)
	}

	100%,74% {
		opacity: 0;
		-webkit-transform: translate(200px,76px)
	}
}

@-webkit-keyframes star {
	0% {
		opacity: 0;
		transform: translate(171px,-168px)
	}

	12% {
		opacity: 1;
		transform: translate(85px,-84px)
	}

	24% {
		opacity: 0;
		transform: translate(0,0)
	}

	50% {
		opacity: 0;
		transform: translate(371px,-88px)
	}

	62% {
		opacity: 1;
		transform: translate(285px,-4px)
	}

	100%,74% {
		opacity: 0;
		transform: translate(200px,76px)
	}
}

.mod_dialog {
	padding: 40px 60px;
	background: #FFF;
	position: absolute
}

.mod_popup {
	background: #FFF;
	position: absolute
}

.mod_dialog .close_dialog,.mod_popup .close_dialog {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 20px;
	text-indent: -999em;
	overflow: hidden;
	background: url(img/icon_sprite.png?max_age=2592000&v=0fc9a89e789418c191a4892912f44158) no-repeat -70px -70px;
	z-index: 2
}

.mod_dialog .close_dialog:hover,.mod_popup .close_dialog:hover {
	background: url(img/icon_sprite.png?max_age=2592000&v=0fc9a89e789418c191a4892912f44158) no-repeat -90px -70px
}

.mod_msg,.popup_move {
	border: 2px solid #E5E5E5
}

.mod_msg .close_dialog,.popup_move .close_dialog {
	top: -2px
}

.mod_dialog .mod_dialog_content {
	overflow: hidden;
	position: relative;
	z-index: 2
}

.mod_dialog .iframe_mask {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0
}

.mod_dialog .mod_dialog_content i {
	float: left;
	width: 53px;
	height: 53px;
	background-image: url(img/icon_sprite.png?max_age=2592000&v=0fc9a89e789418c191a4892912f44158);
	background-repeat: no-repeat;
	margin: 0 20px 0 0;
	position: relative
}

.mod_dialog .mod_dialog_content .icon_succeed {
	background-position: 0 -229px
}

.mod_dialog .mod_dialog_content .icon_warning {
	background-position: 0 -285px
}

.mod_dialog .mod_dialog_content .warning_tip {
	color: #333;
	height: 53px;
	line-height: 53px;
	font-size: 24px;
	font-family: 'Segoe UI Light','Segoe UI','Microsoft YaHei',Arial,Helvetica
}

.mod_dialog .mod_dialog_content .other_tip {
	color: #333;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	margin: 0 0 4px
}

.mod_dialog .dialog_info {
	color: #8B8B8B;
	line-height: 20px;
	margin-left: 73px
}

.mod_dialog .dialog_info a {
	color: #0c8f44;
	font-family: Simsun
}

.mod_dialog .dialog_info a:hover {
	color: #05B600
}

.mod_dialog .dialog_btn {
	margin-top: 10px;
	margin-left: 73px
}

.mod_dialog .dialog_btn a {
	display: inline-block;
	line-height: 20px;
	line-height: 21px\0;
	height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	padding: 0 8px;
	border-radius: 3px
}

.mod_dialog .dialog_btn .btn_cancel,.mod_dialog .dialog_btn .btn_normal {
	color: #8b8b8b;
	border: 1px solid #DDD;
	box-shadow: 1px 2px 0 #F2F2F2
}

.mod_dialog .dialog_btn .btn_cancel:hover,.mod_dialog .dialog_btn .btn_confirm,.mod_dialog .dialog_btn .btn_highlight {
	color: #fff;
	border: 1px solid #0dad51;
	box-shadow: 1px 2px 0 #c5dcc4;
	background: #0dad51;
	margin-right: 6px
}

.popup_mask {
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50)
}

.popup_dialog {
	background: #FFF
}

.popup_dialog_hd {
	width: 100%;
	height: 30px;
	position: absolute;
	_float: left
}

.popup_dialog_hd h3 {
	display: none
}

.popup_dialog .popup_dialog_close {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 20px;
	text-indent: -999em;
	overflow: hidden;
	background: url(http://imgcache.qq.com/mediastyle/musicprotal/img/icon_sprite.png?max_age=2592000) no-repeat -70px -70px;
	z-index: 3
}

.popup_dialog .popup_dialog_close:hover {
	background: url(http://imgcache.qq.com/mediastyle/musicprotal/img/icon_sprite.png?max_age=2592000) no-repeat -90px -70px
}

.popup_system {
	border: 2px solid #E5E5E5;
	_float: left;
	color: #666
}

.popup_system a {
	color: #333
}

.popup_dialog .popup_dialog_cont {
	width: 100%
}

.popup_event {
	border: 2px solid #E5E5E5;
	_float: left
}

.popup_event .popup_dialog_hd {
	height: 74px
}

.popup_event .popup_dialog_hd h3 {
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: 74px;
	color: #333;
	font-family: 'Segoe UI Light','Segoe UI','Microsoft YaHei',Tahoma,Helvetica;
	text-indent: 25px;
	*font-family: 黑体
}

.popup_event .popup_dialog_cont {
	width: 100%;
	padding: 74px 0 0 0
}

.popup_dialog .popup_dialog_cont .popup_system_type {
	padding: 40px 60px;
	_zoom: 1;
	_float: left
}

.popup_dialog .popup_dialog_cont .popup_system_type i {
	float: left;
	width: 53px;
	height: 53px;
	background-image: url(img/icon_sprite.png?max_age=2592000&v=0fc9a89e789418c191a4892912f44158);
	background-repeat: no-repeat;
	margin: 0 20px 0 0;
	position: relative
}

.popup_dialog .popup_dialog_cont .popup_system_type .icon_succeed {
	background-position: 0 -229px
}

.popup_dialog .popup_dialog_cont .popup_system_type .icon_warning {
	background-position: 0 -285px
}

.popup_dialog .popup_dialog_cont .popup_system_type .warning_tip {
	color: #333;
	height: 53px;
	line-height: 53px;
	font-size: 24px;
	font-family: "Microsoft YaHei",Arial,Helvetica;
	margin: 0 0 0 73px;
	white-space: nowrap;
	_float: left;
	_margin: 0
}

.popup_dialog .popup_dialog_cont .popup_system_type .other_tip {
	color: #333;
	font-size: 14px;
	line-height: 26px;
	font-family: "Microsoft YaHei",Arial,Helvetica;
	margin: 0 0 4px 73px;
	_width: 180px
}

.popup_dialog .dialog_info {
	color: #8B8B8B;
	line-height: 20px;
	margin: 0 0 0 73px;
	_width: 180px
}

.popup_dialog .dialog_info a {
	color: #0c8f44;
	font-family: Simsun
}

.popup_dialog .dialog_info a:hover {
	color: #05B600
}

.popup_dialog .dialog_btn {
	margin-top: 10px;
	margin-left: 73px
}

.popup_dialog .dialog_btn a {
	display: inline-block;
	line-height: 20px;
	line-height: 21px\0;
	height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	padding: 0 8px;
	border-radius: 3px
}

.popup_dialog .dialog_btn .btn_cancel,.popup_dialog .dialog_btn .btn_normal {
	color: #8b8b8b;
	border: 1px solid #DDD;
	box-shadow: 1px 2px 0 #F2F2F2
}

.popup_dialog .dialog_btn .btn_cancel:hover,.popup_dialog .dialog_btn .btn_confirm,.popup_dialog .dialog_btn .btn_highlight {
	color: #fff;
	border: 1px solid #0dad51;
	box-shadow: 1px 2px 0 #c5dcc4;
	background: #0dad51;
	margin-right: 6px
}

.popup_up {
	position: absolute;
	z-index: 300;
	left: 50%;
	width: 500px;
	margin-left: -250px
}

.popup_con {
	padding: 20px;
	overflow: hidden;
	zoom: 1
}

.popup_con h4 {
	font-size: 18px;
	color: #666;
	padding: 20px
}

.popup_share {
	float: left;
	width: 200px;
	overflow: hidden;
	zoom: 1
}

.popup_share li {
	float: left;
	width: 60px;
	margin: 0 20px 20px;
	_display: inline;
	text-align: center
}

.popup_weixin {
	float: left;
	width: 130px;
	text-align: center;
	border-left: 1px dotted #ccc;
	margin-left: 30px;
	padding-left: 60px;
	_display: inline
}

.icon_qzone {
	display: block;
	background-image: url(../img/2015_pc/img_popup_share.png?max_age=2592000&v=f80c0e67e3a4649970f2715452a98c4d);
	background-position: -62px 0;
	width: 60px;
	height: 60px
}

.icon_qq {
	display: block;
	background-image: url(../img/2015_pc/img_popup_share.png?max_age=2592000&v=f80c0e67e3a4649970f2715452a98c4d);
	background-position: 0 0;
	width: 60px;
	height: 60px
}

.icon_sina {
	display: block;
	background-image: url(../img/2015_pc/img_popup_share.png?max_age=2592000&v=f80c0e67e3a4649970f2715452a98c4d);
	background-position: 0 -62px;
	width: 60px;
	height: 60px
}

.icon_weibo {
	display: block;
	background-image: url(../img/2015_pc/img_popup_share.png?max_age=2592000&v=f80c0e67e3a4649970f2715452a98c4d);
	background-position: -62px -62px;
	width: 60px;
	height: 60px
}

.ie {
	*background: 0 0
}