.main .main-child1.in .content .logo-center{animation:main-child1-logo 1s cubic-bezier(0.62, -0.14, 0.6, 1.2) 0s both;-webkit-animation:main-child1-logo 1s cubic-bezier(0.62, -0.14, 0.6, 1.2) 0s both;}
.main .main-child1.in .content .center{animation:main-child1-logo2 1.2s cubic-bezier(0.62, -0.14, 0.6, 1.45) .6s both;-webkit-animation:main-child1-logo2 1.2s cubic-bezier(0.62, -0.14, 0.6, 1.45) .6s both;}
.main .main-child1.in .content .shadow{animation:main-child1-logo2 1.2s cubic-bezier(0.62, -0.14, 0.6, 1.45) 0s both;-webkit-animation:main-child1-logo2 1.2s cubic-bezier(0.62, -0.14, 0.6, 1.45) 0s both;}
@keyframes main-child1-logo{
0%{ transform:translateY(-100%); }
100%{transform:translateY(0);}
}
@-webkit-keyframes main-child1-logo{
0%{ -webkit-transform:translateY(-100%); }
100%{-webkit-transform:translateY(0);}
}

@keyframes main-child1-shadow{
0%{ transform:translateY(100%); opacity:0;}
100%{transform:translateY(0);opacity:1;}
}
@-webkit-keyframes main-child1-shadow{
0%{ -webkit-transform:translateY(100%); opacity:0;}
100%{-webkit-transform:translateY(0);opacity:1;}
}

@keyframes main-child1-logo2{
0%{  opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes main-child1-logo2{
0%{ opacity:0;}
100%{opacity:1;}
}



.main .main-child2 .child-bg1{animation:main-child2 32s linear 0s infinite;-webkit-animation:main-child2 32s linear 0s infinite;}
@keyframes main-child2{
0%{ transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}
@-webkit-keyframes main-child2{
0%{ -webkit-transform:scale(1);}
50%{-webkit-transform:scale(1.1);}
100%{-webkit-transform:scale(1);}
}


.main .main-child2 .child-bg.out{opacity:0;transition-duration: .6s;-webkit-transition-duration:.6s;}
.main .main-child2 .child-bg.in{opacity:1;transition-duration: .3s;-webkit-transition-duration:.3s;}
.main .main-child2 .child-bg3.in .logo-img{animation:main-child2 10s linear 0s infinite;}
.main .main-child2 .child-bg3 .star1{animation:star 5s linear 0s infinite;-webkit-animation:star 5s linear 0s infinite;}
.main .main-child2 .child-bg3 .star2{animation:star 2s linear 1s infinite;-webkit-animation:star 2s linear 1s infinite;}
.main .main-child2 .child-bg3 .star3{animation:star 10s linear 2s infinite;-webkit-animation:star 10s linear 2s infinite;}
.main .main-child2 .child-bg3 .star4{animation:star 2s linear 2s infinite;-webkit-animation:star 2s linear 2s infinite;}
.main .main-child2 .child-bg3 .star5{animation:star 20s linear 10s infinite-;-webkit-animation:star 20s linear 10s infinite}
.main .main-child2 .child-bg3 .star6{animation:star 6s linear 2s infinite;-webkit-animation:star 6s linear 2s infinite;}
.main .main-child2 .child-bg3 .star7{animation:star 4s linear 0s infinite;-webkit-animation:star 4s linear 0s infinite;}
.main .main-child2 .child-bg3 .star8{animation:star 10s linear 0s infinite;-webkit-animation:star 10s linear 0s infinite;}
.main .main-child2 .child-bg3 .star9{animation:star 8s linear 0s infinite;-webkit-animation:star 8s linear 0s infinite;}
.main .main-child2 .child-bg3 .star10{animation:star 4s linear 1s infinite;-webkit-animation:star 4s linear 1s infinite;}
.main .main-child2 .child-bg3 .star11{animation:star 2s linear 0s infinite;-webkit-animation:star 2s linear 0s infinite;}
.main .main-child2 .child-bg3 .star12{animation:star 1s linear 0s infinite;-webkit-animation:star 1s linear 0s infinite;}
.main .main-child2 .child-bg3 .star13{animation:star 10s linear 2s infinite;-webkit-animation:star 10s linear 2s infinite;}
.main .main-child2 .child-bg3 .star14{animation:star 2s linear 0s infinite;-webkit-animation:star 2s linear 0s infinite;}
.main .main-child2 .child-bg3 .star15{animation:star 8s linear 0s infinite;-webkit-animation:star 8s linear 0s infinite;}
.main .main-child2 .child-bg3 .star16{animation:star 3s linear 1s infinite;-webkit-animation:star 3s linear 1s infinite;}
.main .main-child2 .child-bg3 .star17{animation:star 20s linear 0s infinite;-webkit-animation:star 20s linear 0s infinite;}
.main .main-child2 .child-bg3 .star18{animation:star 4s linear 0s infinite;-webkit-animation:star 4s linear 0s infinite;}
.main .main-child2 .child-bg3 .star19{animation:star 6s linear 0s infinite;-webkit-animation:star 6s linear 0s infinite;}
.main .main-child2 .child-bg3 .star20{animation:star 12s linear 1s infinite;-webkit-animation:star 12s linear 1s infinite;}
.main .main-child2 .child-bg3 .star21{animation:star 16s linear 0s infinite;-webkit-animation:star 16s linear 0s infinite;}
.main .main-child2 .child-bg3 .star22{animation:star 2s linear 0s infinite;-webkit-animation:star 2s linear 0s infinite;}
.main .main-child2 .child-bg3 .star23{animation:star 4s linear 0s infinite;-webkit-animation:star 4s linear 0s infinite;}
.main .main-child2 .child-bg3 .star24{animation:star 8s linear 0s infinite;-webkit-animation:star 8s linear 0s infinite;}
.main .main-child2 .child-bg3 .star25{animation:star 5s linear 0s infinite;-webkit-animation:star 5s linear 0s infinite;}
.main .main-child2 .child-bg3 .star26{animation:star 4s linear 2s infinite;-webkit-animation:star 4s linear 2s infinite;}

@keyframes star{
0%{ opacity:1;}
50%{opacity:0.2;}
100%{opacity:1;}
}
@-webkit-keyframes star{
0%{ opacity:1;}
50%{opacity:0.2;}
100%{opacity:1;}
}

.main .main-child2 .child-bg4 .img1{animation:child-bg4 20s linear 0s infinite;-webkit-animation:child-bg4 20s linear 0s infinite;}
@keyframes child-bg4{
0%{ transform:translateX(0);}
25%{transform:translateX(-10%);}
50%{transform:translateX(0);}
75%{transform:translateX(10%);}
100%{transform:translateX(0);}
}
@-webkit-keyframes child-bg4{
0%{ -webkit-transform:translateX(0);}
25%{-webkit-transform:translateX(-10%);}
50%{-webkit-transform:translateX(0);}
75%{-webkit-transform:translateX(10%);}
100%{-webkit-transform:translateX(0);}
}

.main .main-child2.in .content .child:nth-child(1){animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) 0s both;-webkit-animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) 0s both;}
.main .main-child2.in .content .child:nth-child(2){animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .2s both;-webkit-animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .2s both;}
.main .main-child2.in .content .child:nth-child(3){animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .4s both;-webkit-animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .4s both;}
.main .main-child2.in .content .child:nth-child(4){animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .6s both;-webkit-animation:main-child2-child 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .6s both;}
@keyframes main-child2-child{
0%{ transform:translateY(-20%); opacity:0;}
100%{transform:translateY(0px); opacity:1;}
}
@-webkit-keyframes main-child2-child{
0%{ -webkit-transform:translateY(-20%); opacity:0;}
100%{-webkit-transform:translateY(0px); opacity:1;}
}


.main .main-child3.in .content .m-title{animation:main-child3-title 1s linear 0s both;-webkit-animation:main-child3-title 1s linear 0s both;}
.main .main-child3.in .img{animation:main-child3-img 1s linear .4s both;-webkit-animation:main-child3-img 1s linear .4s both;}
.main .main-child3.in .content .pointer1{animation:pointer-right .6s linear .8s both;-webkit-animation:pointer-right .6s linear .8s both;}
.main .main-child3.in .content .pointer2{animation:pointer-right .6s linear 1s both;-webkit-animation:pointer-right .6s linear 1s both;}
.main .main-child3.in .content .pointer3{animation:pointer-right .6s linear 1.2s both;-webkit-animation:pointer-right .6s linear 1.2s both;}
.main .main-child3.in .content .pointer4{animation:pointer-left .6s linear .8s both;-webkit-animation:pointer-left .6s linear .8s both;}
.main .main-child3.in .content .pointer5{animation:pointer-left .6s linear 1s both;-webkit-animation:pointer-left .6s linear 1s both;}
.main .main-child3.in .content .m-info{animation:main-child3-img 1s linear 1.4s both;-webkit-animation:main-child3-img 1s linear 1.4s both;}
.main .main-child3.in .content .m-btn{animation:main-child3-img 1s linear 1.6s both;-webkit-animation:main-child3-img 1s linear 1.6s both;}


.main .main-child3 .child.in{ transition-duration: 2s;-webkit-transition-duration:2s;opacity:1;transform: rotate(0deg) translateX(0);}
.main .main-child3 .m-info .info.in{transition-duration: 2s;-webkit-transition-duration:2s;opacity:1;transform: rotate(0deg) translateX(0);}
.main .main-child3 .child.in .img{animation:main-child3-img 1s linear .4s both;-webkit-animation:main-child3-img 1s linear .4s both;}
.main .main-child3 .child.in .content .pointer1{animation:pointer-right .6s linear .8s both;-webkit-animation:pointer-right .6s linear .8s both;}
.main .main-child3 .child.in .content .pointer2{animation:pointer-right .6s linear 1s both;-webkit-animation:pointer-right .6s linear 1s both;}
.main .main-child3 .child.in .content .pointer3{animation:pointer-right .6s linear 1.2s both;-webkit-animation:pointer-right .6s linear 1.2s both;}
.main .main-child3 .child.in .content .pointer4{animation:pointer-left .6s linear .8s both;-webkit-animation:pointer-left .6s linear .8s both;}
.main .main-child3 .child.in .content .pointer5{animation:pointer-left .6s linear 1s both;-webkit-animation:pointer-left .6s linear 1s both;}
.main .main-child3 .child.in .content .m-info{animation:main-child3-img 1s linear 1.4s both;-webkit-animation:main-child3-img 1s linear 1.4s both;}
.main .main-child3 .child.in .content .m-btn{animation:main-child3-img 1s linear 1.6s both;-webkit-animation:main-child3-img 1s linear 1.6s both;}

.main .main-child3 .left-out{transition-duration: 2s;-webkit-transition-duration:2s;transform: rotate(-10deg) translateX(-200%); opacity:0;}
.main .main-child3 .left-in{transition-duration: 2s;-webkit-transition-duration:2s;transform: rotate(10deg) translateX(200%);opacity:0;}
.main .main-child3 .right-out{transition-duration: 2s;-webkit-transition-duration:2s;transform: rotate(-10deg) translateX(200%);}
@keyframes pointer-left{
0%{ opacity:0; transform:translateX(-20px);}
100%{ opacity:1; transform:translateX(0px);}
}
@-webkit-keyframes pointer-left{
0%{ opacity:0; -webkit-transform:translateX(-20px);}
100%{ opacity:1; -webkit-transform:translateX(0px);}
}

@keyframes pointer-right{
0%{ opacity:0; transform:translateX(20px);}
100%{ opacity:1; transform:translateX(0px);}
}
@-webkit-keyframes pointer-right{
0%{ opacity:0; -webkit-transform:translateX(20px);}
100%{ opacity:1; -webkit-transform:translateX(0px);}
}

@keyframes main-child3-img{
0%{ opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes main-child3-img{
0%{ opacity:0;}
100%{opacity:1;}
}

@keyframes main-child3-title{
0%{ transform:translateY(-100%); opacity:0;}
100%{transform:translateY(0px); opacity:1;}
}
@-webkit-keyframes main-child3-title{
0%{ -webkit-transform:translateY(-100%); opacity:0;}
100%{-webkit-transform:translateY(0px); opacity:1;}
}


