<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>钉钉</title>
    <link rel="stylesheet" href="common.css" />
</head>
<body>
    <div id="layout-container">
        <div id="layout-main">
            <div id="header">
              
            </div>
            <div id="body">
                <div id="menu-pannel">
                    <div class="profile">
                        <div class="profile-big border-thick avatar ng-isolate-scope single-chat">
                            <div class="ng-scope ng-isolate-scope">
                              <img class="ng-scope" src="https://static.dingtalk.com/media/lADOABfFL80BLM0BLA_300_300.jpg_60x60q90.jpg">
                            </div>
                        </div>
                        <p class="name ng-binding">zhongjamal</p>
                    </div>
                    <ul class="main-menus">
                        <li class="menu-item menu-message selected">
                            <i class="iconfont menu-icon"></i>
                            <span class="text">消息</span>
                        </li>
                        <li class="menu-item menu-ding">
                            <i class="iconfont menu-icon"></i>
                            <span class="text">DING</span>
                        </li>
                        <li class="menu-item menu-contact">
                            <i class="iconfont menu-icon"></i>
                            <span class="text">联系人</span>
                        </li>
                        <li class="menu-item menu-micro-app ng-scope">
                            <i class="iconfont menu-icon"></i>
                            <span class="text">工作</span>
                        </li>
                        <li class="menu-item menu-cspace ng-scope">
                            <i class="iconfont menu-icon"></i>
                            <span class="text">钉盘</span>
                        </li>
                    </ul>
                    <ul class="extra-options">
                        <li class="extra-item more-actions">
                            <div class="ng-isolate-scope">
                                <div class="extra-item-box">
                                    <i class="iconfont"></i>
                                    <span class="font ng-scope">创建</span>
                                </div>
                                <div class="tip-menu ng-hide" ng-show="menu.isOpen">
                                    <div class="tri">
                                        <div class="tri-border tb-border"></div>
                                        <div class="tri-border tb-back"></div>
                                    </div>
                                    <ul class="menus">
                                        <li class="menu-item">发起聊天</li>
                                        <li class="menu-item ng-scope">企业群聊天</li>
                                        <li class="menu-item">DING一下</li>
                                        <li class="menu-item">添加好友</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="extra-item settings">
                            <div class="ng-isolate-scope">
                                <div class="extra-item-box">
                                    <i class="iconfont"></i>
                                    <span class="font ng-scope" ng-if="isShowFont">设置</span>
                                </div>
                                <div class="tip-menu ng-hide">
                                    <div class="tri">
                                        <div class="tri-border tb-border"></div>
                                        <div class="tri-border tb-back"></div>
                                    </div>
                                    <ul class="menus">
                                        <li class="menu-item">设置</li>
                                        <li class="menu-item">修改密码</li>
                                        <li class="menu-item">下载应用</li>
                                        <li class="menu-item">退出登录</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="menu-pannel-body">
                    <div id="sub-menu-pannel" class="conv-list-pannel ng-scope">
                        <div class="conv-lists-box ng-isolate-scope">
                            <ul class="list-with-avatar-and-info conv-lists ng-scope" >
                                <li class="list-item conv-item context-menu ng-isolate-scope">
                                    <div class="avatar ng-isolate-scope single-chat">
                                        <div  class="ng-scope ng-isolate-scope">
                                            <img  class="ng-scope" src="https://static.dingtalk.com/media/lALOAFF1eczIzMg_200_200.png_60x60q90.jpg">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="name ng-binding" >钉小秘</p>
                                        <i class="icon-company"></i>
                                    </div>
                                    <div class="info">
                                        <p class="latest-msg">
                                            <span  class="ng-binding">恭喜您所在的深圳市小窝金融信息服务有限公司团队升级为企业，即日起您的免费商务电话时长已提升至每月1,000分钟，与团队成员畅快沟通吧！</span>
                                        </p>
                                    </div>
                                    <span class="time ng-binding">11-05 </span>
                                    <i class="iconfont icon-delete-conv tipper-attached"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="content-pannel">
                        <div class="conv-detail-pannel ng-scope">
                            <div class="nocontent-logo">
                                <div>
                                    <img alt="欢迎" src="https://g.alicdn.com/dingding/web/2.14.0/app/img/nocontent/lALOAEn98c0B4M0B4A_480_480.png">
                                </div>
                            </div>
                            <div class="nocontent-tips">
                                <p  class="ng-hide"><img  alt="早上好" src="https://g.alicdn.com/dingding/web/2.14.0/app/img/nocontent/1f31e.png"> 早上好，今天请继续加油！</p>
                                <p><img alt="下午好" src="https://g.alicdn.com/dingding/web/2.14.0/app/img/nocontent/2615.png"> 下午好，喝杯茶吧，让精神抖擞起来。</p>
                                <p  class="ng-hide"><img  alt="晚上好" src="https://g.alicdn.com/dingding/web/2.14.0/app/img/nocontent/1f31b.png"> 晚上好，请注意休息。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in" style="z-index: 1040;"></div>
    <div class="ding-modal fade ng-scope ng-isolate-scope in" style="z-index: 1050; display: block;">
        <div class="modal-content"> 
            <div class="dialog mini ng-scope">
                <div class="head">
                <i class="iconfont close"></i>
                <span class="title">设置</span>
                </div>
                <div class="body">
                <div class="settings">
                <!-- ngIf: settingModal.settingSwitcher.notification --><div class="setting-item desk-notice ng-scope" ng-if="settingModal.settingSwitcher.notification">
                <span class="rem">桌面通知权限</span>
                <div class="toggle ng-pristine ng-untouched ng-valid ng-isolate-scope" dd-checkbox="" ng-model="settingModal.localSetting.notification">
                <label></label>
                </div>
                </div><!-- end ngIf: settingModal.settingSwitcher.notification -->
                <!-- ngIf: settingModal.settingSwitcher.dingEmailNotification --><div class="setting-item desk-notice ng-scope" ng-if="settingModal.settingSwitcher.dingEmailNotification">
                <span class="rem">钉邮桌面通知</span>
                <div class="toggle ng-pristine ng-untouched ng-valid ng-isolate-scope" dd-checkbox="" ng-model="settingModal.localSetting.dingEmailNotification">
                <label></label>
                </div>
                </div><div class="setting-item reminder-voice ng-scope" ng-if="settingModal.settingSwitcher.beep">
                <span class="rem">打开提示音</span>
                <div class="toggle ng-pristine ng-untouched ng-valid ng-isolate-scope checked" dd-checkbox="" ng-model="settingModal.localSetting.beep">
                <label></label>
                </div>
                </div>
                <div class="setting-item clearfix">
                <span class="rem">发送消息快捷键</span>
                <div class="radio-list">
                <div ng-model="settingModal.localSetting.sendMessageShortcut" value="Enter" class="ng-isolate-scope ng-valid">
                <label class="radiobox">
                <input type="radio" ng-model="model" ng-value="value" class="ng-pristine ng-untouched ng-valid" name="78" value="Enter">
                <span class="radiobox-input"></span><ng-transclude><span class="ng-scope">
                Enter 发送 , Ctrl+Enter 换行
                </span></ng-transclude>
                </label>
                </div>
                <div ng-model="settingModal.localSetting.sendMessageShortcut" value="Ctrl+Enter" class="ng-isolate-scope ng-valid">
                <label class="radiobox">
                <input type="radio" ng-model="model" ng-value="value" class="ng-pristine ng-untouched ng-valid" name="81" value="Ctrl+Enter">
                <span class="radiobox-input"></span><ng-transclude><span class="ng-scope">
                Enter 换行 , Ctrl+Enter 发送
                </span></ng-transclude>
                </label>
                </div>
                </div>
                </div>

                <div class="dd-version-item">
                <span class="ng-binding">v2.14.0</span>

                </div>
                </div>
                </div>
                <div class="foot">
                    <button class="blue" ng-click="settingModal.submitSetting()">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>